
.container {
  display: flex;
  .canvas-wrapper {
    #canvas {
      height: 400px;
      //background-color: #bcbff3;
      border: 1px solid #000;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 3px solid #82913b;
    }
  }
  .game-options {
    margin-left: 30px;
    p {
      font-style: italic;
      font-size: 16px;
    }
    button {
      background-color: #0095ff;
      border: 1px solid transparent;
      border-radius: 3px;
      box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.15385;
      margin: 0;
      outline: none;
      padding: 8px 0.8em;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      white-space: nowrap;
      &:hover,
      &:focus{
        background-color: #07c;
      }
    }
  }
}

